<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-4"></div>
        <div class="col col-12 col-sm-4">
            <form (ngSubmit)="addProduct()">
                    <table class="table">
                                <tr>
                                    <td>Product Id</td>
                                    <td><input type="text" class="form-control" name="p_id" [(ngModel)]="productItem.productId"></td>
                                </tr>
                                <tr>
                                        <td>productName</td>
                                        <td><input type="text" class="form-control" name="p_name" [(ngModel)]="productItem.productName"></td>
                                </tr>
                                <tr>
                                        <td>product Code</td>
                                        <td><input type="text" class="form-control" name="p_code" [(ngModel)]="productItem.productCode"></td>
                                </tr>
                                <tr>
                                        <td>release Date</td>
                                        <td><input type="date" class="form-control" name="p_date" [(ngModel)]="productItem.releaseDate"></td>
                                </tr>
                                <tr>
                                        <td>description</td>
                                        <td><textarea cols="30" rows="5" class="form-control" name="p_desc" [(ngModel)]="productItem.description"></textarea></td>
                                </tr>
                                <tr>
                                        <td>Product Price</td>
                                        <td><input type="text" class="form-control" name="p_price" [(ngModel)]="productItem.price"></td>    
                                </tr>
                                <tr>
                                        <td>Star Rating</td>
                                        <td><input type="text" class="form-control" name="p_rating" [(ngModel)]="productItem.starRating"></td>    
                                </tr>
                                <tr>
                                        <td>Image URL</td>
                                        <td><input type="text" class="form-control" name="p_image" [(ngModel)]="productItem.imageUrl"></td>    
                                </tr>
                                <tr>
                                        <td><button type="reset" class="btn btn-primary">RESET</button></td>
                                        <td><button type="submit" class="btn btn-primary">SUBMIT</button></td>    
                                </tr>        
                    </table>                        
            </form> 
        </div>
        <div class="col col-12 col-sm-4"></div>
    </div>
</div>